.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

    .heading {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        font-size: 1.1rem;
        margin-bottom: 20px;
        min-width: 600px;

        .title {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            margin-left: 10px;
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            cursor: pointer;

            img {
                height: 20px;
                padding: 10px 12px;
                background-color: #212224;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px,
                    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            }

            p {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                background-color: #212224;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px,
                    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

                svg {
                    font-size: 1.2rem;
                }
            }

            .tooltiptext {
                visibility: hidden;
                width: max-content;
                background-color: white;
                color: black;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                border: white;

                font-size: 0.8rem;
                position: absolute;
                z-index: 1;
                margin-top: -90px;
                font-weight: 600;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -40%;
                    right: 45%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    // border color to make it look like a downward pointing triangle
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;

                    border-top: 5px solid white;
                    // border-color: transparent rgba(255, 255, 255, 0.953) transparent transparent;
                }
            }

            &:hover .tooltiptext {
                visibility: visible;
            }
        }
    }
    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 50vh;

        .emptyText {
            font-size: 1.8rem;
            font-weight: 600;
        }

        button {
            font-size: 1.1rem;
            padding: 10px 20px;
            background-color: rgb(30, 104, 241);
            color: #fff;
            font-weight: 600;
            border: none;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px,
                rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
                rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: white;
                color: rgb(30, 104, 241);
            }
        }
    }

    .checkout {
        display: flex;
        align-items: center;
        width: 70vw;
        justify-content: space-between;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

        background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);

        position: fixed;
        bottom: 10px;

        .checkoutDetails {
            display: flex;
            align-items: center;

            .product {
                display: flex;
                align-items: center;

                background-color: transparent;
                border: 2px solid white;
                border-radius: 10px;
                margin-left: 20px;
                margin-right: 10px;

                .index {
                    margin: 0;
                    margin-left: -20px;
                    font-weight: 600;
                }

                .productName {
                    padding: 10px 10px;
                    margin: 0px;
                    padding-left: 20px;
                }

                .qty {
                    margin: 0px;
                    padding: 10px 10px;
                    background-color: white;
                    color: #0acffe;
                    border-radius: 0 8px 8px 0;
                }
            }
        }

        .nextStepButton {
            display: flex;
            align-items: center;

            p {
                font-size: 1.8rem;
                font-weight: 600;
                margin-right: 10px;
                margin: 5px;
            }

            button {
                padding: 10px 20px;
                background-color: #495aff;
                color: white;
                border-radius: 10px;
                border: none;
                font-weight: 600;
                font-size: 1rem;
                border: 2px solid white;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: white;
                    color: #495aff;
                    border: 2px solid #495aff;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {

        .checkout {
            

            .checkoutDetails {
                    display: none;
                
            }

            .nextStepButton {
                width: 100%;
                justify-content: space-between;
            }
        }

    }
}

@media screen and (max-width: 1080px) {
    .cartCardContainer {

        min-width: 550px;

    }
}

@media screen and (max-width: 887px) {
    .container {


        .heading {

            min-width: 530px
        }
    }
}


@media screen and (max-width: 607px) {
    .container {


        .heading {

            min-width: 85vw;
        }

        .checkout {

            padding: 10px;
            

            .checkoutDetails {
                    display: none;
                
            }

            .nextStepButton {
                p {
                    font-size: 1.5rem;
                }

                button {
                    padding: 10px 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .container {


        .heading {

            min-width: 85vw;
        }

        .checkout {
            width: 80vw;

            padding: 10px;
            

            .checkoutDetails {
                    display: none;
                
            }

            .nextStepButton {
                p {
                    font-size: 1.5rem;
                }

                button {
                    padding: 10px 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}
