

.container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    font-size: 1.1rem;

    .currentFilter {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 600;

        span {
            align-self: flex-start;
            height: 6px;
            width: 6px;
            background-color: red;
            border-radius: 50%;
            margin-left: 5px;

        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 105px;
        cursor: pointer;

        .filter {

            .tooltiptext {
                visibility: hidden;
                width: max-content;
                background-color: black;
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                border: white;
                
                font-size: 0.8rem;
                position: absolute;
                z-index: 1;
                margin-left: -55px;
                margin-top: -35px;
                font-weight: 600;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -40%;
                    right: 45%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    // border color to make it look like a downward pointing triangle
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    
                    border-top: 5px solid black;
                    border-bottom: 5px solid transparent;
                    // border-color: transparent rgba(255, 255, 255, 0.953) transparent transparent;
                }
            }

            &:hover .tooltiptext {
                visibility: visible;
            }
        }

        img {
            height: 20px;
            padding: 10px 12px;
            background-color: #212224;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            transition: all 0.1s ease-in-out;
        }

        a {
            text-decoration: none;
            color: white;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: crimson;
            }

            p {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                background-color: #212224;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
                svg {
                    font-size: 1.2rem;
                }
            }

            .tooltiptext {
                visibility: hidden;
                width: max-content;
                background-color: black;
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                border: white;
                
                font-size: 0.8rem;
                position: absolute;
                z-index: 1;
                margin-left: -15px;
                margin-top: -95px;
                font-weight: 600;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -40%;
                    right: 45%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    // border color to make it look like a downward pointing triangle
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    
                    border-top: 5px solid black;
                    border-bottom: 5px solid transparent;
                    // border-color: transparent rgba(255, 255, 255, 0.953) transparent transparent;
                }
            }

            &:hover .tooltiptext {
                visibility: visible;
            }
        }

        .sortOptions {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 160px;
            cursor: pointer;
            padding: 5px 0;

            background-color: black;
            border-radius: 15px;
            
            position: absolute;
            z-index: 100;
            margin-top: 205px;
            margin-left: -110px;

            background-color: #212224;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;



            .border {
                height: 1px;
                background-color: rgba(255, 255, 255, 0.499);
                width: 100%;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                margin: 13px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: #0f65ee;
                }

            }

            svg {
                font-size: 1.2rem;
            }

            .latest {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 5px;
                }

                span {
                    font-size: 0.7rem;
                    margin-left: 5px;
                    color: gray;

                }
            }





        }

        .hide {
            display: none !important;
        }

        
    }
}