


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;

    .heading {
        
        p {
            font-size: 2.7rem;
            margin: 10px;
        }
    }

    .subHeading {
        text-align: center;
        width: 40%;
        color: #ffffff9b;
        margin: 10px;
        p {
            font-size: 1.1rem;
            margin: 10px;
        }
    }

    .searchInput {
        display: flex;
        align-items: center;
        width: 60%;
        height: 42px;
        background-color: #212224;
        border-radius: 15px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

        .categoryDropdown {
            z-index: 1;

            p {
                display: flex;
                align-items: center;
                background-color: palevioletred;
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0px;
                padding: 13px;
                border-radius: 13px;

                svg {
                    margin-left: 5px;
                }
            }
        }
        input {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 15px;
            padding: 10px;
            font-size: 1.2rem;
            margin: 10px;
            outline: none;
            background-color: transparent;
            
        }

        input[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
        }

        .searchIcon {
            margin-right: 10px;
            font-size: 1.2rem;
        }

        .sortOptions {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            cursor: pointer;
            padding: 5px 0;

            background-color: black;
            border-radius: 15px;
            
            position: absolute;
            z-index: 100;
            margin-top: 220px;
            margin-left: -35px;

            background-color: #212224;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;



            .border {
                height: 1px;
                background-color: rgba(255, 255, 255, 0.499);
                width: 100%;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                margin: 13px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: #0f65ee;
                }

            }

            svg {
                font-size: 1.2rem;
            }

            .latest {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 5px;
                }

                span {
                    font-size: 0.7rem;
                    margin-left: 5px;
                    color: gray;

                }
            }





        }

        .hide {
            display: none !important;
        }
    }
    

    
}