// define colors in variables
$primary-color: #212224;
$secondary-color: #8c8c88;
$tertiary-color: #c1c1c183;
$colorRed: #d20a0ad9;
$colorRasp: #df1278;
$colorIndigo: #f28627;
$colorBlue: #f2da63;
$colorGray: rgba(51, 52, 54, 0.682);

// card container
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #000000;
    margin: 20px;

    height: 40vh;
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


    .left,
    .right {
        width: 50%;
        height: 100%;
    }

    .left {
        border-radius: 20px 0 0 20px;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        background-image: linear-gradient(to top, #B721FF 0%, #e5b2ca 100%);

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            color: #fff;
            font-weight: 600;
            margin: 5px;
            font-size: 1.1rem;
        }

        textarea {
            resize: none;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            border: none;
            margin: 5px;
            background-color: #212224;
            font-size: 1rem;
            border: 2px solid #212224;

            transition: all 0.2s ease-in-out;

            &:focus {
                border: 2px solid #b921ffd2;
            }
        }

        .error {
            border: 2px solid red;
        }
        
        .success {
            border: 2px solid greenyellow;
        }

    }
}
